apiVersion: v1
baseDomain: {{ cluster_base_domain }}
compute:
  - name: worker
    replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: {{ cluster_name }}
networking:
  networkType: OVNKubernetes
  clusterNetworks:
    - cidr: {{ cluster_cluster_networks_cidr }}
      hostPrefix: {{ cluster_cluster_networks_hostprefix }}
  serviceNetwork:
    - {{ cluster_service_network }}
  machineNetwork:
    - cidr: {{ cluster_machine_network }}
BootstrapInPlace:
  InstallationDisk: {{ cluster_installationdisk }}
platform:
  none: {}
pullSecret: '{{ pull_secret }}'
sshKey: "{{ ssh_key }}"